@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="col">
        <h2>Name: @ViewData["Name"];</h2>
        <h2>DeviceType: @ViewData["DeviceType"];</h2>
        <h2>OS: @ViewData["OS"];</h2>
        <h2>Version: @ViewData["Version"];</h2>
        <h2>ipv4: @ViewData["ipv4"];</h2>
        <h2>ipv6: @ViewData["ipv6"];</h2>
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

